<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>URL ripper</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'rippings/bootstrap.min.css' %}" />
	<script src="{% static 'rippings/angular.min.js' %}" /></script>
	<script src="{% static 'rippings/app.js' %}" /></script>
</head>
<body ng-app="urlRipper" ng-controller="MainCtrl as main">
	<h1>URL ripper</h1>
	<div class="row">
		<div class="col-xs-6">
			<textarea ng-model="main.console" class="form-control" rows="7" readonly="readonly"></textarea>
		</div>
		<div class="col-xs-6">
			<textarea ng-model="main.stuff" class="form-control" rows="7" readonly="readonly"></textarea>
		</div>
	</div>	
</body>
</html>